DATABASE_URL=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
# Redis
REDIS_URL=

# Auth
JWT_SECRET=
JWT_REFRESH_SECRET=

# Storage
HDD_MOUNT_PATH=

# Server
PORT=
NODE_ENV=

# Comma-separated list of allowed frontend origins
ALLOWED_ORIGINS==